<data>
  <stock code='{{ stock_code }}' name='{{ stock_name }}'>
    <technical_indicators>
      <momentum m5='{{ mom5:+.2% }}' m20='{{ mom20:+.2% }}' m60='{{ mom60:+.2% }}' />
      <volatility std20='{{ volatility:.4f }}' />
    </technical_indicators>
    <news_analysis>{{ news_analysis_xml }}</news_analysis>
  </stock>
</data>

<instructions>
  <goal>제공된 <data>를 종합하여, 특정 종목에 대한 심층 분석 리포트를 생성합니다.</goal>
  <format>기술적 분석, 뉴스 분석, 그리고 최종 결론 순서로 문단을 나누어 설명합니다. {{ format_instruction }}</format>
  {{ perspective_instruction or '<perspective>모멘텀(상승/하락 추세), 변동성(안정성), 그리고 최신 뉴스가 주가에 미치는 영향을 종합적으로 연결하여 하나의 흥미로운 스토리로 풀어냅니다.</perspective>' }}
</instructions>