# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Python virtual environment and cache
.venv/
__pycache__/

# Documentation and local development tools
README.md
Makefile
Makefile.mk
.idea/
.vscode/