# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
ENV/

# Environment variables
.env

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# Log files
*.log