fastapi
uvicorn[standard]
numpy<2
httpx # market_data.py에서 사용하므로 유지합니다.
transformers
torch --index-url https://download.pytorch.org/whl/cpu
python-dotenv
sentencepiece

# 데이터베이스 연동을 위한 라이브러리
SQLAlchemy
psycopg2-binary
redis